[submodule "code/LotusTrace"]
	path = code/LotusTrace
	url = git@github.com:rajveerb/pytorch.git
	branch = v2.0.0_instrumentation
[submodule "code/itt-python"]
	path = code/itt-python
	url = git@github.com:rajveerb/itt-python.git
	branch = master
[submodule "code/torchvision"]
	path = code/torchvision
	url = git@github.com:rajveerb/vision.git
	branch = v0.15_instrumentation
